$lightgray: #e3e6ea;
$transparentgray: rgba(203, 210, 217, 0.5);
$darkgray: #52606D;
$deepnavy: #171F3F;
$deepblue: #0593FB;
$vividgreen: #06C847;
$deeppurple: #653CAD;
$vividblue: #2251CC;

@mixin top-border{
    content: "";
    position: absolute;
    left:0;
    top:-1.5rem;
    width: 5rem;
    border-radius: 8px;
}

@mixin mail-link{
    color: $deepblue;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 2rem;
    position: relative;
}

@mixin desktop-header {
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 3rem;
}

@mixin medium-header {
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 2.25rem;
}

@mixin mobile-header {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
}

@mixin desktop-title{
    font-size: 2rem;
    line-height: 2.75rem;
}

@mixin medium-title{
    font-size: 1.5rem;
    line-height: 2rem;
}

@mixin mobile-title{
    font-size: 1.375rem;
    line-height: 2rem;
}

@mixin desktop-paragraph {
    font-size: 1.25rem;
    line-height: 2.25rem;   
}

@mixin medium-paragraph{
    font-size: 1.125rem;
    line-height: 1.75rem;
}

@mixin mobile-paragraph{
    font-size: 1rem;
    line-height: 1.265rem;
}