$lightgray: #e3e6ea;
$transparentgray: rgba(203, 210, 217, 0.5);
$darkgray: #52606D;
$deepnavy: #171F3F;
$deepblue: #0593FB;
$vividgreen: #06C847;
$deeppurple: #653CAD;
$vividblue: #2251CC;

@mixin top-border{
    content: "";
    position: absolute;
    left:0;
    top:-24px;
    width: 80px;
    border-radius: 8px;
}

@mixin mail-link{
    color: $deepblue;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    position: relative;
}

@mixin desktop-header {
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
}

@mixin medium-header {
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
}

@mixin mobile-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

@mixin desktop-title{
    font-size: 32px;
    line-height: 44px;
}

@mixin medium-title{
    font-size: 24px;
    line-height: 32px;
}

@mixin mobile-title{
    font-size: 22px;
    line-height: 32px;
}

@mixin desktop-paragraph {
    font-size: 20px;
    line-height: 36px;   
}

@mixin medium-paragraph{
    font-size: 18px;
    line-height: 28px;
}

@mixin mobile-paragraph{
    font-size: 16px;
    line-height: 26px;
}