@import "_normalize";
@import "_variables";
@import "modules/about.scss";
@import "modules/skills.scss";
@import "modules/projects.scss";
@import "modules/contact.scss";
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600&display=swap");

html {
  box-sizing: border-box;
  @media screen and (max-width: 780px) {
    font-size: 12px;
    }
    @media screen and (min-width: 781px) and (max-width: 1400px) {
     font-size: 14px;
}
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $deepnavy;
  background: #fff;
  font-family: Poppins, sans-serif;
  border: 16px solid $deepnavy;
}

@media screen and (max-width: 780px) {
  body {
    border: none;
  }
}

@media screen and (min-width: 781px) and (max-width: 1400px) {
  body {
    border: none;
  }
}
